<!DOCTYPE html>
<html>
<head>
    <title>Railway Reservation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <h2>🚆 Railway System</h2>
    <div>
        <a href="/">Home</a>
        <a href="/dashboard">Trains</a>
        <a href="/view">Bookings</a>
        <a href="/login">Login</a>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>